/* Set font and background color */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: #f1f1f1; /* pastel background color */
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #e8a87c; /* orangish color */
  color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* add shadow */
}

/* Heading 1 styling */
h1 {
  font-size: 40px;
  text-shadow: 2px 2px #333;
  margin: 0;
}

/* Navigation styling */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin: 0 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* CTA container styling */
.cta-container {
  margin-top: 50px;
}

.cta-container h2 {
  font-size: 40px;
  margin-bottom: 20px;
  text-shadow: 2px 2px #333;
  color: #41b3a3; /* same shadow as Fund Me Services */
}

.cta-container p {
  font-size: 18px;
  margin-bottom: 40px;
}

.cta-container form {
  margin-top: 20px;
}

form label {
  display: block;
  margin-bottom: 10px;
  color: #41b3a3; /* same shadow as Fund Me Services */
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9; /* pastel background color */
}

button {
  padding: 10px 20px;
  background-color: #41b3a3; /* same shadow as Fund Me Services */
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 30px;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* add shadow */
  margin-top: 50px;
  width: 500px;
}

button:last-child {
  margin-right: 0;
}

/* Image container styling */
.image-container {
  margin-top: 50px;
}

.image-container img {
  max-width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* add shadow */
}

/* Footer styling */
footer {
  padding: 20px;
  background-color: #eee;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); /* add shadow */
}

footer p {
  margin: 0;
  font-size: 14px;
}
